language: python
sudo: false

deploy:
  provider: pypi
  user: arokem
  password:
    secure: U8Bfe8mXUSp5HYzGsyJfLuVzu+uEt6hid6AQb+HafJMHhhmoiX4cL8IH1xYaT/ZDXR02IO5bpQpjLLvKizDCXrfEgM/YTWhi1lldVh8O6cdP0gBeNfYNQz0qmbWhJFGzN+ad4VXBXrCVIPtF88mmowzRr6P0vLHW8GudSPInJKl6ofUwJDkOOFL6tqAiSLTIlwQQtvKTMqxCAQ3U+kliznpbbjFJSCjf29IQ/tUqzflbKmVdpr5nXCwVONNnydnY8fFK9Vrhl2UchFKjE5KbfoYxFs9udhlgxZMoKSDmTcvhhjwZ7HN8WPABxvY+IvrDi+CUjFDKBKZhSan0fQBfc8aMN0YVE2/TtEJXwsA9g4c3/BkcoF532mc7e2dzExQwOh/xS/iLPhn0qtf+VQn7po7iXwSMbpPIqEOYbgpaWXzgo0Pf5O5Q0pKzuXpcN4femZ1hEtTZ9f13LHuyjLPN9GAZjQmdUGbIkPFY/bbu6ssbkcgKZTABODln68LOnLDQGqpog5bYQ9Myr5mLhF3duLjnoZIcuReyQ7Ed8Z7bcNeiu7t4PAWbgm2DJ3VrUkzq24iUvGedwh3Eqr4eQnedrk2Bn3+rqVv00FjX9elmR7S3TJ4l4jPkfg8R48tDan6wGqhu3s2S97MSmgi+/gWDAEpTBHaHc5DuZ4TcJXTb3To=
  on:
    tags: true
    repo: uwescience/shablona

env:
  global:
    - CONDA_DEPS="pip flake8 pytest numpy scipy matplotlib pandas" PIP_DEPS="coveralls pytest-cov" MINICONDA_URL="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh"
         # doctr docs key
  secure: "Aw5PJvPilp3bl0durEPFYgXk17fGyhonZfaqE4rBbfIraxld89Sze2jrG8dbCoicoEXIRjwyzYzzxcHkYhuZF76SgRZJOQ4vFRUfFpZpxPjOlLKqUd25fqJ0cQo8zHGVXdklEnebIuOTKypQPU4zdICBHWI/3hvNMYIlnIKUcGaoyma3YooGzigck4WHGWzwmguqOXpZoTAHYRjuIWSk5cj2T60vdE+i+Elui6nOtOl/YtysAB6LB69L4gsNMyo4BpuLwBK552+9dAHi0b3bgY7GD7BhEDHs/BSkgEOnj0+BqFmFqrSWv2SjrQYb/m1g8ZMu/a9ITTZ57h8889915ME94CI0/4buTvZGKClSluYdzS5rXCf8w/02uRTuItFWAKxSrVQPta86e3aWIJkPpsiVu2iMOb5U6VcifJUDyxDRdBGCHLG/XBeto2dpY7HESE1alGvlHRUV7a3l/0BzbIyjTngQ/sSwnSC6+ZROHGcecxCBZ6sDE2qfV68uIw59lPFej/0fCdWbpWaxPAGGb6t/c48DdUt9MpPeu7ILG5e6kA5xC8YAGC2LbqBPmgI2RlJEC39+VuavSl5/56hiWZNDCnuInidL9kQJs6hdO35qir5HlhAbXvHYIaOUGluSNiPYooEV5d/R90rYfzcGxGcFTu/Ri0++AQ73bqvJLI0="
python:
  - '2.7'
  - '3.5'
  - '3.6'

before_install:
- export MINICONDA=$HOME/miniconda
- export PATH="$MINICONDA/bin:$PATH"
- hash -r
- echo $MINICONDA_URL
- wget $MINICONDA_URL -O miniconda.sh;
- bash miniconda.sh -b -f -p $MINICONDA;
- conda config --set always_yes yes
- conda update conda
- conda info -a
- conda config --add channels conda-forge
- conda install python=$TRAVIS_PYTHON_VERSION $CONDA_DEPS
- travis_retry pip install $PIP_DEPS

install:
- python setup.py install --record installed_files.txt

script:
- flake8 --ignore N802,N806 `find . -name \*.py | grep -v setup.py | grep -v /doc/`

- mkdir for_test
- cd for_test
- py.test --pyargs shablona --cov-report term-missing --cov=shablona

after_success:
- coveralls
